<app-navbar></app-navbar>

<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner
    [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"
  >
  </p-progressSpinner>
</div>

<div  style="font-size: small!important;">

  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


  <p-tabView (onChange)="handleChange($event)" [(activeIndex)]="index" styleClass="affaireTab">

    <p-tabPanel [hidden]="affaireLoading == true" header="Affaire">
      <div class="p-d-flex">
        <div class="p-col-6">

          <div [hidden]="affaireLoading == false">
            <div  class="p-field p-col-12 p-md-6">
              <p-skeleton styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="10rem" height="4rem"></p-skeleton>
            </div>
            <div  class="p-field p-col-12 p-md-6">
              <p-skeleton styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="10rem" height="4rem"></p-skeleton>
            </div>
          </div>
          <div>
            <p-scrollPanel [style]="{height: '500px'}"  >

              <div>
                <h5>Affaire</h5>
                <hr>
                <table class="task" style="border: none;font-size: 0.9rem !important;">
                  <tr>
                    <td style="width: 45%">Numero de dossier: </td>
                    <td>{{affaire?.numeroMatricule}}</td>
                  </tr>
                  <tr>
                    <td style="width: 45%">Nom: </td>
                    <td>{{affaire?.nom}}</td>
                  </tr>
                  <tr>
                    <td>Statut: </td>
                    <td *ngIf="affaire?.statut === 'Ouvert'">
                      <p-tag styleClass="p-mr-2" severity="success" value="{{affaire?.statut}}"></p-tag>
                    </td>
                    <td *ngIf="affaire?.statut !== 'Ouvert'">
                      <p-tag styleClass="p-mr-2" severity="danger" value="{{affaire?.statut}}"></p-tag>
                    </td>
                  </tr>
                  <tr>
                    <td>Accreditation: </td>
                    <td>Niveau {{affaire?.niveauAccreditation}}</td>
                  </tr>
                  <tr>
                    <td>Crée le: </td>
                    <td>{{affaire?.createdAt | date: 'dd-MM-yyyy H:m:s'}}</td>
                  </tr>
                  <tr>
                    <td>Crée par: </td>
                    <td style="text-transform: uppercase">{{affaire?.createdBy?.nom}} &nbsp; {{affaire?.createdBy?.prenom}}</td>
                  </tr>
                  <tr>
                    <td>Departement en charge</td>
                    <td style="text-transform: full-width">{{affaire?.departement.nom}}</td>
                  </tr>
                </table>
              </div>
              <div>
                <h5>Rapport initial</h5>
                <hr>
                <p style="font-size: 0.9rem">
                  {{affaire?.resume}}
                </p>
              </div>


              <div>
                <h5>Affectés a l'affaire</h5>
                <hr>

                <div style="width: 100%">
                  <button [disabled]="affaire != null && affaire.createdBy.id !== user.id"
                    (click)="createAffaireUtilisateur()"
                    style="margin-bottom: 1rem" class="p-button-info" pButton type="button" icon="pi pi-plus"
                    iconPos="left" label="Ajouter un enqueteur">
                  </button>
                  <p-table
                    [value]="affaire?.affaireUtilisateurs"
                    [(contextMenuSelection)]="selectedAffaireUtilisateur"
                    class="p-text-center"
                    [scrollable]="true" scrollHeight="100px"
                    [resizableColumns]="true"
                    selectionMode="single" dataKey="id"
                    styleClass="p-datatable-sm p-datatable-gridlines ">
                    <ng-template pTemplate="colgroup">
                      <colgroup>
                        <col style="width:5%">
                        <col style="width:40%">
                        <col style="width:40%">
                        <col style="width:15%">
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" >
                      <tr>
                        <th pResizableColumn></th>
                        <th pResizableColumn>Participant</th>
                        <th pResizableColumn>Date d'ajout</th>
                        <th pResizableColumn></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-affaireUser>
                      <tr [pSelectableRow]="affaireUser" >
                        <td style="text-align: center!important;">
                          <i class="pi pi-user"></i>
                        </td>
                        <td style="text-transform: uppercase!important;">
                          {{affaireUser.utilisateur.nom}}  {{affaireUser.utilisateur.prenom}}
                        </td>
                        <td>{{affaireUser.createdAt | date: 'dd-MM-yyyy H:m:s' }}</td>
                        <td class="p-text-center">
                          <button
                            [disabled]="affaireUser.utilisateur.id === user.id || affaire.createdBy.id !== user.id"
                            (click)="confirm(affaireUser)"
                            pButton class="p-button-danger"
                            icon="pi pi-trash">
                          </button>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>




                <!--   Add User to affaire Modal -->

                <p-dialog header="Ajouter un participant" [(visible)]="addAffaireUtilisateurDisplay" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
                          [draggable]="true" [resizable]="true">


                  <p-listbox
                    [options]="depUtilisateurs" [(ngModel)]="selectedDepUtilisateurs"
                    optionLabel="name" optionValue="id" [style]="{'width':'15rem'}"
                    optionDisabled="inactive"
                    [metaKeySelection]="false" [checkbox]="true"
                    [filter]="true"
                    [multiple]="true"
                  >
                    <ng-template let-depu pTemplate="item">
                      {{depu.name}}
                    </ng-template>
                  </p-listbox>


                  <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="addUsersToAffaire()" label="Ajouter" styleClass="p-button-text"></p-button>
                  </ng-template>
                </p-dialog>

              </div>


              <div>
                <h5>Consultants</h5>
                <hr>
                <div style="margin-bottom: 1rem;">
                  <p-table class="my-center-text"
                           [scrollable]="true" scrollHeight="100px"
                           [resizableColumns]="true"
                           [value]="affaire?.canConsults"
                           selectionMode="single" dataKey="id"
                           styleClass="p-datatable-sm p-datatable-gridlines ">
                    <ng-template pTemplate="header" >
                      <tr>
                        <th pResizableColumn></th>
                        <th pResizableColumn>Nom</th>
                        <th pResizableColumn>Departement</th>
                        <th pResizableColumn>Date de debut</th>
                        <th pResizableColumn>Date de fin</th>
                        <th pResizableColumn>Statut</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-consultations>
                      <tr [pSelectableRow]="consultations" >
                        <td colspan="6" >
                          Aucun consultant
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template *ngIf="affaire?.canConsults.lengh == 0"  pTemplate="emptymessage">
                      <tr>
                        <td colspan="6">There are no order for this product yet.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>

            </p-scrollPanel>
          </div>

        </div>
        <p-divider layout="vertical"></p-divider>

      </div>


    </p-tabPanel>


    <!---- Header entites -->

    <p-tabPanel header="Entités">

      <!-- personne creation dialog -->
      <p-dialog
        [style]="{width: '50vw'}" [maximizable]="true"
        [draggable]="true" [resizable]="true"
        header="Creation d'une personne"
        [(visible)]="personneDialog">

        <div>
          <p-steps [model]="personneSteps" [readonly]="true"></p-steps>
        </div>
        <router-outlet></router-outlet>

      </p-dialog>

      <div class="p-d-flex">
        <div class="p-col-6">
          <div style="width: 100%">

            <h5>Entites</h5>
            <hr>

            <p-splitButton label="Ajouter" icon="pi pi-plus"
                           [model]="entiteButtonItems"
                           styleClass="p-button-info p-mb-2">
            </p-splitButton>
            <p-table
              [value]="entites"
              [(contextMenuSelection)]="entite"
              class="p-text-center"
              [scrollable]="true" scrollHeight="100%"
              [resizableColumns]="true"
              selectionMode="single" dataKey="id"
              styleClass="p-datatable-sm p-datatable-gridlines ">
              <ng-template pTemplate="colgroup">
                <colgroup>
                  <col style="width:5%">
                  <col style="width:35%">
                  <col style="width:35%">
                  <col style="width:25%">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" >
                <tr>
                  <th pResizableColumn></th>
                  <th pResizableColumn>Description 1</th>
                  <th pResizableColumn>Description 2</th>
                  <th pResizableColumn>Role</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-entite>
                <tr [pSelectableRow]="entite" >
                  <td style="text-align: center!important;">
                    <i class="pi pi-user"></i>
                  </td>
                  <td>
                    {{entite.description1}}
                  </td>
                  <td>
                    {{entite.description2}}
                  </td>
                  <td class="p-text-center">
                    {{entite.role}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

        </div>
      </div>

    </p-tabPanel>
    <p-tabPanel header="Evenements">
      Content 3
    </p-tabPanel>
    <p-tabPanel header="Pieces a convictions">
      Content 3
    </p-tabPanel>
    <p-tabPanel header="Graphes">
      Content 3
    </p-tabPanel>
    <p-tabPanel header="Administration">
      Content 3
    </p-tabPanel>
  </p-tabView>

</div>


