<app-navbar></app-navbar>

<p-contextMenu [target]="context_menu" [model]="items" ></p-contextMenu>


<div  #context_menu  class="card" style="margin-top: 1rem; height: 100vh">
  <div class="p-d-flex">
    <p-dialog
      header="Creation d'une affaire" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
      [draggable]="true" [resizable]="true"
      [(visible)]="displayAffaireCreateViewer">

      <div class="p-fluid">


        <div *ngIf="violation" style="color: red">
          <p *ngFor="let items of violations; let i=index">- {{items.propertyPath}}: {{items.message}}</p>
          <p></p>
        </div>

        <div class="p-field p-grid">
          <label for="nom" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Nom: </label>
          <div class="p-col-12 p-md-10">
            <input #nom="ngModel" required id="nom" type="text"
                   pInputText placeholder="nom"
                   [(ngModel)]="newAffaire.nom" [ngClass]="{'ng-dirty': (nom.invalid && submitted) || (nom.dirty && nom.invalid)}">
            <small *ngIf="(nom.invalid && submitted) || (nom.dirty && nom.invalid)"
                   class="p-error">Le nom est obligatoire</small>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="description" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Description: </label>
          <div class="p-col-12 p-md-10">
            <textarea #description="ngModel" required id="description" type="text"
                      pInputTextarea placeholder="description"
                   [(ngModel)]="newAffaire.description" [ngClass]="{'ng-dirty': (description.invalid && submitted) || (description.dirty && description.invalid)}">
            </textarea>
            <small *ngIf="(description.invalid && submitted) || (description.dirty && description.invalid)"
                   class="p-error">La description est obligatoire</small>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="niveauAccreditation" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Niveau d'accreditation: </label>
          <div class="p-col-12 p-md-10">
            <input #niveauAccreditation="ngModel" required id="niveauAccreditation" type="number"
                   min="1" max="{{user.niveauAccreditation}}"
                   pInputText placeholder="niveau d'accreditation"  value="{{user.niveauAccreditation}}"
                   [(ngModel)]="newAffaire.niveauAccreditation" [ngClass]="{'ng-dirty': (niveauAccreditation.invalid && submitted) || (niveauAccreditation.dirty && niveauAccreditation.invalid)}">
            <small *ngIf="(niveauAccreditation.invalid && submitted) || (niveauAccreditation.dirty && niveauAccreditation.invalid)"
                   class="p-error">Le niveau d'accreditation est obligatoire</small>
            <small *ngIf="(niveauAccreditation.invalid && submitted) || (niveauAccreditation.dirty && niveauAccreditation.invalid)"
                   class="p-error">Le niveau d'accreditation est obligatoire</small>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="resume" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Rapport initial: </label>
          <div class="p-col-12 p-md-10">
            <p-editor #resume="ngModel" id="resume"
                      [ngClass]="{'ng-dirty': (resume.invalid && submitted) || (resume.dirty && resume.invalid)}"
                      required [(ngModel)]="newAffaire.resume" [style]="{'height':'420px'}">
              <p-header>
              <span class="ql-formats">
                <select class="ql-size">
                  <option value="small">Petit</option>
                  <option selected></option>
                  <option value="large">Sous-titre</option>
                  <option value="huge">Titre</option>
                </select>
              </span>
                <span class="ql-formats">
                <button class="ql-bold" aria-label="Bold"></button>
                <button class="ql-italic" aria-label="Italic"></button>
                <button class="ql-underline" aria-label="Underline"></button>
                <button class="ql-strike" aria-label="Strike"></button>
              </span>
                <span class="ql-formats">
                <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
                  <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
                  ...
                  <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
                </select>
                <span class="ql-format-separator"></span>
                <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
                  <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
                  ...
                  <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
                </select>
            </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                <select title="Text Alignment" class="ql-align" >
                  <option selected>Gauche</option>
                  <option value="center" label="Center"></option>
                  <option value="right" label="Right"></option>
                  <option value="justify" label="Justify"></option>
                </select>
              </span>
                <span class="ql-formats">
                <button aria-label="Link" class="ql-link"></button>
              </span>
              </p-header>
            </p-editor>
            <small *ngIf="(resume.invalid && submitted) || (resume.dirty && resume.invalid)"
                   class="p-error">Le rapport initial est obligatoire</small>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-2"></div>
          <div class="p-col-10">
            <button (click)="createAffaire()" style="width: 100%" pButton pRipple type="button" label="Créer l'affaire" class="p-button-info"></button>
          </div>
        </div>

      </div>


    </p-dialog>

    <div class="p-col-6">
      <p-scrollPanel [style]="{height: '600px'}"  >
        <p-fieldset legend="Mes affaires">

          <div [hidden]="affairesLoading == false" class="p-field p-col-12 p-md-6">
            <p-skeleton styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="10rem" height="4rem"></p-skeleton>
          </div>

          <button
            (click)="displayAffaireDialog()"
            style="margin-bottom: 1rem" class="p-button-info" pButton type="button" icon="pi pi-plus"
            iconPos="left" label="Nouvelle affaire">
          </button>


          <p-table
            [scrollable]="true" scrollHeight="200px"
            [resizableColumns]="true"
            [value]="userAffaires"
            (onRowUnselect)="onRowUnselect()"
            selectionMode="single" [(selection)]="affaire" dataKey="id"
            styleClass="p-datatable-sm p-datatable-gridlines ">
            <ng-template pTemplate="colgroup">
              <colgroup>
                <col style="width:5%">
                <col style="width:50%">
                <col style="width:35%">
                <col style="width:15%">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" >
              <tr >
                <th pResizableColumn></th>
                <th pResizableColumn>Numero</th>
                <th pResizableColumn>Nom</th>
                <th pResizableColumn>Statut</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-affaire>
              <tr (dblclick)="onAffaireRowDblClick(affaire)" [pSelectableRowDblClick]="affaire">
                <td style="font-weight: bold"><i class="pi pi-folder-open"></i></td>
                <td>{{affaire.numeroMatricule}}</td>
                <td>{{affaire.nom}}</td>
                <td>{{affaire.statut}}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-fieldset>



        <div style="margin-top: 2em">
          <p-fieldset legend="Toutes les affaire du departement">

            <div [hidden]="depAffairesLoading == false" class="p-field p-col-12 p-md-6">
              <p-skeleton styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="10rem" height="4rem"></p-skeleton>
            </div>


            <p-table
              [scrollable]="true" scrollHeight="200px"
              [resizableColumns]="true"
              [value]="departementAffaires"
              (onRowUnselect)="onRowUnselect()"
              selectionMode="single" [(selection)]="affaire" dataKey="id"
              styleClass="p-datatable-sm p-datatable-gridlines ">
              <ng-template pTemplate="colgroup">
                <colgroup>
                  <col style="width:5%">
                  <col style="width:50%">
                  <col style="width:35%">
                  <col style="width:15%">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" >
                <tr >
                  <th pResizableColumn></th>
                  <th pResizableColumn>Numero</th>
                  <th pResizableColumn>Nom</th>
                  <th pResizableColumn>Statut</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-affaire>
                <tr (dblclick)="onAffaireRowDblClick(affaire)" [pSelectableRowDblClick]="affaire">
                  <td style="font-weight: bold"><i class="pi pi-folder-open"></i></td>
                  <td>{{affaire.numeroMatricule}}</td>
                  <td>{{affaire.nom}}</td>
                  <td>{{affaire.statut}}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-fieldset>
        </div>



        <div style="margin-top: 2em">
          <p-fieldset legend="Consultations">

            <div [hidden]="depAffairesLoading == false" class="p-field p-col-12 p-md-6">
              <p-skeleton styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="10rem" height="4rem"></p-skeleton>
            </div>


            <p-table
              [scrollable]="true" scrollHeight="200px"
              [resizableColumns]="true"
              [value]="consultAffaires"
              (onRowUnselect)="onRowUnselect()"
              selectionMode="single" [(selection)]="affaire" dataKey="id"
              styleClass="p-datatable-sm p-datatable-gridlines ">
              <ng-template pTemplate="colgroup">
                <colgroup>
                  <col style="width:5%">
                  <col style="width:50%">
                  <col style="width:35%">
                  <col style="width:15%">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" >
                <tr >
                  <th pResizableColumn></th>
                  <th pResizableColumn>Numero</th>
                  <th pResizableColumn>Nom</th>
                  <th pResizableColumn>Statut</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-affaire>
                <tr (dblclick)="onAffaireRowDblClick(affaire)" [pSelectableRowDblClick]="affaire">
                  <td style="font-weight: bold"><i class="pi pi-folder-open"></i></td>
                  <td>{{affaire.numeroMatricule}}</td>
                  <td>{{affaire.nom}}</td>
                  <td>{{affaire.statut}}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-fieldset>
        </div>
      </p-scrollPanel>
    </div>

    <p-divider layout="vertical"></p-divider>

    <div class="p-col-6">

      <p-fieldset [hidden]="showAffaire == false" legend="Details" [style]="{height: '100%'}">

        <div>
          <p-scrollPanel [style]="{height: '600px'}"  >

            <div>
              <h5>Affaire</h5>
              <hr>
              <table class="task" style="border: none;font-size: 0.9rem !important;">
                <tr>
                  <td style="width: 45%">Numero de dossier: </td>
                  <td>{{affaire?.numeroMatricule}}</td>
                </tr>
                <tr>
                  <td style="width: 45%">Nom: </td>
                  <td>{{affaire?.nom}}</td>
                </tr>
                <tr>
                  <td>Statut: </td>
                  <td>{{affaire?.statut}}</td>
                </tr>
                <tr>
                  <td>Accreditation: </td>
                  <td>Niveau : {{affaire?.niveauAccreditation}}</td>
                </tr>
                <tr>
                  <td>Crée le: </td>
                  <td>{{affaire?.createdAt | date: 'dd-MM-yyyy H:m:s'}}</td>
                </tr>
                <tr>
                  <td>Departement en charge</td>
                  <td style="text-transform: full-width">{{affaire?.departement.nom}}</td>
                </tr>
              </table>
            </div>
            <div>
              <h5>Rapport initial</h5>
              <hr>
              <div [innerHTML]="affaire?.resume"></div>
            </div>


            <div>
              <h5>Affectés a l'affaire</h5>
              <hr>
              <div style="margin-bottom: 1rem; text-align: center!important;">
                <p-table
                  [scrollable]="true" scrollHeight="100px"
                  [resizableColumns]="true"
                  [value]="affaire?.affaireUtilisateurs"
                  selectionMode="single" dataKey="id"
                  styleClass="p-datatable-sm p-datatable-gridlines ">
                  <ng-template pTemplate="colgroup">
                    <colgroup>
                      <col style="width:14%">
                      <col style="width:35%">
                      <col style="width:25%">
                    </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header" >
                    <tr>
                      <th pResizableColumn></th>
                      <th pResizableColumn>Participant</th>
                      <th pResizableColumn>Date d'ajout</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-affaireUser>
                    <tr [pSelectableRow]="affaireUser" >
                      <td>
                        <i class="pi pi-user"></i>
                      </td>
                      <td style="text-transform: uppercase!important;">
                        {{affaireUser.utilisateur.nom}}  {{affaireUser.utilisateur.prenom}}
                      </td>
                      <td>{{affaireUser.createdAt | date: 'dd-MM-yyyy H:m:s'}}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </p-scrollPanel>
          <button
            (click)="affaireDetails()"
            style="margin-top: 2em" class="p-button-info"
            pButton type="button"  label="Plus de details....">
          </button>
        </div>
      </p-fieldset>


    </div>

  </div>
</div>
