/* You can add global styles to this file, and also import other style files */


body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  font-size: 13px!important;
}

.login-logo {
  height: 129px;
  width: 129px;
}


.outofstock {
  font-weight: 700;
  color: #FF5252;
}

.lowstock {
  font-weight: 700;
  color: #FFA726;
}

.instock {
  font-weight: 700;
  color: #66BB6A;
}



hr{
  border-color: #4CAF50!important;
}

.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity:0.6; /* see below for cross-browser opacity */
}

.hideButton{
  display: none!important;
}

table.task>tr{
  height: 1.5rem!important;
}

affaireTab{
  font-size: small!important;
}

.loading-bar {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 40em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-bar:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.53);
}


.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.53);
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
    stroke: #16697A;
  }
  40% {
    stroke: #489FB5;
  }
  66% {
    stroke: #82C0CC;
  }
  80%,
  90% {
    stroke: #FFA62B;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

p-calendar .ui-datepicker {
  top: 29px !important;

}




ngx-dropzone,
.custom-dropzone {
  margin: 20px;
}

.custom-dropzone {
  height: 250px;
  background: #333;
  color: #fff;
  border: 5px dashed rgb(235, 79, 79);
  border-radius: 5px;
  font-size: 20px;
}

.custom-dropzone.ngx-dz-hovered {
  border: 5px solid rgb(235, 79, 79);
}

.videoPreview{
  align-items: center!important;
  border-radius: 5px!important;
  display: flex!important;
  height: 140px!important;
  justify-content: center!important;
  margin: 10px!important;
  max-width: 250px!important;
  min-height: 140px!important;
  min-width: 250px!important;
  padding: 0px 20px!important;
  position: relative!important;
}

video{
  width: 100%!important;
}


.p-steps {
  display: none!important;
}

